--
-- PostgreSQL database dump
--

\restrict uuf5cnDfg5XgKgBiausADuhoiNi6BPeNFwhYqHYYHpfC1OkcRHPq1MO9w24ewBj

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: project_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_members (
    id character varying(36) NOT NULL,
    project_id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    project_role public.projectrole NOT NULL,
    joined_at timestamp without time zone
);


ALTER TABLE public.project_members OWNER TO postgres;

--
-- Data for Name: project_members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: project_members project_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_pkey PRIMARY KEY (id);


--
-- Name: project_members uq_user_project; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT uq_user_project UNIQUE (user_id, project_id);


--
-- Name: ix_project_members_project_id_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_project_members_project_id_user_id ON public.project_members USING btree (project_id, user_id);


--
-- Name: uq_single_project_manager; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_single_project_manager ON public.project_members USING btree (project_id) WHERE (project_role = 'manager'::public.projectrole);


--
-- Name: project_members project_members_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: project_members project_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict uuf5cnDfg5XgKgBiausADuhoiNi6BPeNFwhYqHYYHpfC1OkcRHPq1MO9w24ewBj

