fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-dotenv
psycopg2-binary
email-validator
pytest>=8.0
httpx>=0.27  
pytest-randomly
celery[redis]
gevent
requests
locust